.xendit-overlay-box {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color: white; background: #666666; opacity: .8;
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

#xendit-overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.xendit-overlay-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.xendit-payment-icon-list{
    display: inline-block;
    float: right;
}
.xendit-payment-icon{
    vertical-align: middle;
    margin: 0 3px;
    float: right;
}
.multicheckout #payment-methods dt.item-title,
.payment-method .payment-method-title{
    display: inline-block;
    width: 100%
}
.multicheckout #payment-methods dt.item-title{
    padding: 5px 0;
}
