.xendit-overlay-box {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color: white; background: #666666; opacity: .8;
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#xendit-overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.xendit-overlay-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}