<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <m2invoice>
                <xendit_env>test</xendit_env>
                <active>1</active>
                <payment_action>authorize</payment_action><!-- You can use another methor like capture  -->
                <model>Xendit\M2Invoice\Model\MandiriVA</model>
                <title>Bank Transfer - Mandiri</title>
                <order_status>pending_payment</order_status><!-- set default order -->
            </m2invoice>
            <bniva>
                <active>1</active>
                <payment_action>authorize</payment_action><!-- You can use another methor like capture  -->
                <model>Xendit\M2Invoice\Model\Payment\BNIVA</model>
                <title>Bank Transfer - BNI</title>
                <order_status>pending_payment</order_status><!-- set default order -->
            </bniva>
            <mandiriva>
                <active>1</active>
                <payment_action>authorize</payment_action><!-- You can use another methor like capture  -->
                <model>Xendit\M2Invoice\Model\Payment\MandiriVA</model>
                <title>Bank Transfer - Mandiri New</title>
                <order_status>pending_payment</order_status><!-- set default order -->
            </mandiriva>
        </payment>
    </default>
</config>