<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="xendit" translate="label" type="text" sortOrder="1" showInDefault="1"
                showInWebsite="1" showInStore="1">
                <label>Xendit</label>
                <comment><![CDATA[
                    <h2>Manage Payment Gateway Connection</h2>
                    <script type="text/javascript">//<![CDATA[
                        require(['jquery'], function(){
                            var envValue = jQuery("select[id*='xendit_xendit_env']");

                            function dynamicShow() {
                                var isTestValue = envValue.val() === 'test';
                                var isLiveValue = envValue.val() === 'live';

                                var testPubKey = jQuery("tr[id*='xendit_test_public_key']");
                                var testSecKey = jQuery("tr[id*='xendit_test_private_key']");
                                var livePubKey = jQuery("tr[id*='xendit_public_key']");
                                var liveSecKey = jQuery("tr[id*='xendit_private_key']");

                                if (isTestValue) {
                                    testPubKey.show();
                                    testSecKey.show();
                                    livePubKey.hide();
                                    liveSecKey.hide();
                                } else if (isLiveValue) {
                                    testPubKey.hide();
                                    testSecKey.hide();
                                    livePubKey.show();
                                    liveSecKey.show();
                                }
                            }
                            envValue.change(function () {
                                dynamicShow();
                            });



                            dynamicShow();

                            var externalIdPrefix = jQuery("input[id*='xendit_external_id_prefix']");
                            jQuery(externalIdPrefix).attr("placeholder", "magento-xendit");
                            jQuery(externalIdPrefix).attr("maxlength", 50);

                            var defaultText = "Format: {Prefix}-{Store Name}-{Order ID}<br>Example: <b>"+externalIdPrefix.val()+"-mystore-245</b>";
                            externalIdPrefix.siblings('.note').children()[0].innerHTML = defaultText;
                            externalIdPrefix.change(function () {
                                var newText = "Format: {Prefix}-{Store Name}-{Order ID}<br>Example: <b>"+externalIdPrefix.val()+"-mystore-245</b>";
                                externalIdPrefix.siblings('.note').children()[0].innerHTML = newText;
                            });
                        });
                    </script>
                ]]></comment>
                <field id="active" translate="label comment" sortOrder="1" type="select"
                    showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="xendit_env" translate="label" type="select" sortOrder="10"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Mode</label>
                    <source_model>Xendit\M2Invoice\Model\Adminhtml\Source\EnvRadioBtn</source_model>
                    <comment>
                        Choose live to perform real transaction
                    </comment>
                    <attribute type="shared">1</attribute>
                </field>
                <field id="test_public_key" translate="label" type="obscure" sortOrder="20"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test - Public Key</label>
                    <comment>
                        Public API key provided by Xendit Dashboard
                    </comment>
                    <attribute type="shared">1</attribute>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="test_private_key" translate="label" type="obscure" sortOrder="30"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test - Private Key</label>
                    <comment>
                        Secret API key provided by Xendit Dashboard
                    </comment>
                    <attribute type="shared">1</attribute>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="public_key" translate="label" type="obscure" sortOrder="50"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public Key</label>
                    <comment>
                        Public API key provided by Xendit Dashboard
                    </comment>
                    <attribute type="shared">1</attribute>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="private_key" translate="label" type="obscure" sortOrder="60"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Private Key</label>
                    <comment>
                        Secret API key provided by Xendit Dashboard
                    </comment>
                    <attribute type="shared">1</attribute>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="external_id_prefix" translate="label" type="text" sortOrder="67"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>External ID Prefix</label>
                    <comment>
                        <![CDATA[Format: {Prefix}-{Store Name}-{Order ID}<br>
                        Example: <b>magento-xendit-mystore-245</b>]]>
                    </comment>
                    <validate>required-entry</validate>
                </field>

                <field id="debug" translate="label" type="select" sortOrder="67" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Enable Debug mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Enable debug for payment flow.<br>
                        Log path: <b>/var/log/xendit_payment.log</b>]]>
                    </comment>
                </field>
                <field id="custom_callback_url" translate="label" type="text" sortOrder="69"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Callback URL</label>
                    <comment>
                        <![CDATA[Override default callback URL for local development (e.g., https://your-ngrok-url.com). Leave empty to use store base URL.]]>
                    </comment>
                    <frontend_model>Xendit\M2Invoice\Block\Adminhtml\System\Config\DeveloperModeField</frontend_model>
                </field>
                <field id="xendit_url" translate="label" type="text" sortOrder="69"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Xendit URL</label>
                    <comment>
                        <![CDATA[Override Xendit URL.]]>
                    </comment>
                    <frontend_model>Xendit\M2Invoice\Block\Adminhtml\System\Config\DeveloperModeField</frontend_model>
                </field>

                <group id="other_configurations" translate="label" sortOrder="92" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Other Configurations</label>
                </group>
            </group>
        </section>
    </system>
</config>