<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="m2invoice" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Xendit</label>
                <comment><![CDATA[
                    <h2>Manage Payment Gateway Connection</h2>
                    <script type="text/javascript">//<![CDATA[
                        require(['jquery'], function(){
                            var allPaymentMethodDescription = 'Use all payment method that is provided by Xendit';
                            var specificPaymentMethodDescription = 'Use specific payment method that is provided by Xendit';
                            var specificSelectionMethodDescription = 'Choose specific payment method that you want to choose. Use <strong>CTRL (CMD) + Click</strong> to choose more than one payment method';

                            var envValue = jQuery("select[id*='m2invoice_xendit_env']");
                            var paymentSelectionValue = jQuery("select[id*='m2invoice_allowed_method']");
                            var paymentSelectionDescription = jQuery("select[id*='m2invoice_allowed_method']").siblings('.note').children()[0];
                            var specificSelection = jQuery("select[id*='m2invoice_chosen_methods']");
                            var specificSelectionDescription = jQuery("select[id*='m2invoice_chosen_methods']").siblings('.note').children()[0];

                            function dynamicShow() {
                                var isTestValue = envValue.val() === 'test';
                                var isLiveValue = envValue.val() === 'live';

                                var testPubKey = jQuery("tr[id*='m2invoice_test_public_key']");
                                var testSecKey = jQuery("tr[id*='m2invoice_test_private_key']");
                                var livePubKey = jQuery("tr[id*='m2invoice_public_key']");
                                var liveSecKey = jQuery("tr[id*='m2invoice_private_key']");

                                if (isTestValue) {
                                    testPubKey.show();
                                    testSecKey.show();
                                    livePubKey.hide();
                                    liveSecKey.hide();
                                } else if (isLiveValue) {
                                    testPubKey.hide();
                                    testSecKey.hide();
                                    livePubKey.show();
                                    liveSecKey.show();
                                }
                            }
                            envValue.change(function () {
                                dynamicShow();
                            });

                            function shouldEnableSpecificMethod() {
                                var isSpecific = paymentSelectionValue.val() === 'specific';

                                if (isSpecific) {
                                    paymentSelectionDescription.innerHTML = specificPaymentMethodDescription;
                                    specificSelectionDescription.innerHTML = specificSelectionMethodDescription;
                                    specificSelection.prop('disabled', false);
                                } else {
                                    paymentSelectionDescription.innerHTML = allPaymentMethodDescription;
                                    specificSelectionDescription.innerHTML = allPaymentMethodDescription;
                                    specificSelection.prop('disabled', true);
                                }
                            }
                            paymentSelectionValue.change(function () {
                                shouldEnableSpecificMethod();
                            });

                            function shouldDisplayAdditionalKYCWarningMethod() {
                                var currentValue = specificSelection.val();

                                if (currentValue.includes('ovo') || currentValue.includes('alfamart') || currentValue.includes('bcava')) {
                                    displayAdditionalKYCWarning(true);
                                } else {
                                    displayAdditionalKYCWarning(false);
                                }
                            }
                            function displayAdditionalKYCWarning(shouldShow) {
                                var defaultText = specificSelectionMethodDescription;

                                var newText = defaultText + ' - <span style="color:red;">You are choosing a payment method that requires you to re-register to your AM</span>';

                                if (shouldShow) {
                                    specificSelection.siblings('.note').children()[0].innerHTML = newText;
                                } else {
                                    specificSelection.siblings('.note').children()[0].innerHTML = defaultText;
                                }
                            }
                            function shouldEnableCardForm() {
                                var currentValue = specificSelection.val();
                                var cardForm = jQuery("select[id*='m2invoice_card_payment_type']");

                                if (currentValue.includes('cc')) {
                                    cardForm.prop('disabled', false);
                                } else {
                                    cardForm.prop('disabled', true);
                                }
                            }
                            specificSelection.change(function () {
                                shouldDisplayAdditionalKYCWarningMethod();
                                shouldEnableCardForm();
                            });

                            dynamicShow();
                            shouldEnableSpecificMethod();
                            shouldEnableCardForm();
                            specificSelection.prop('size', 6);
                        });
                    </script>
                ]]></comment>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="xendit_env" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Mode</label>
                    <source_model>Xendit\M2Invoice\Model\Adminhtml\Source\EnvRadioBtn</source_model>
                    <comment>
                        Choose live to have live transaction
                    </comment>
                    <attribute type="shared">1</attribute>
                </field>
                <field id="test_public_key" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Test - Public Key</label>
                    <comment>
                        Public API key that provided by Xendit Dashboard
                    </comment>
                    <attribute type="shared">1</attribute>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="test_private_key" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Test - Private Key</label>
                    <comment>
                        Secret API key that provided by Xendit Dashboard
                    </comment>
                    <attribute type="shared">1</attribute>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="public_key" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Public Key</label>
                    <comment>
                        Public API key that provided by Xendit Dashboard
                    </comment>
                    <attribute type="shared">1</attribute>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="private_key" translate="label" type="obscure" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Private Key</label>
                    <comment>
                        Secret API key that provided by Xendit Dashboard
                    </comment>
                    <attribute type="shared">1</attribute>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="allowed_method" translate="label" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Used Payment Method</label>
                    <comment>
                        Use all payment method that is provided by Xendit
                    </comment>
                    <source_model>Xendit\M2Invoice\Model\Adminhtml\Source\AllowedMethod</source_model>
                </field>
                <field id="chosen_methods" translate="label" type="multiselect" size="6" sortOrder="66" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Specific Payment Method</label>
                    <comment>
                        Use all payment method that is provided by Xendit
                    </comment>
                    <source_model>Xendit\M2Invoice\Model\Adminhtml\Source\ChosenMethod</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="card_payment_type" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Card Payment Type</label>
                    <comment>
                        Xendit provide card form to increase your order payment
                    </comment>
                    <source_model>Xendit\M2Invoice\Model\Adminhtml\Source\CardPaymentType</source_model>
                    <attribute type="shared">1</attribute>
                </field>
            </group>
        </section>
    </system>
</config>