<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <m2invoice>
                <xendit_env>test</xendit_env>
                <xendit_url>https://tpi-dev.xendit.co</xendit_url>
                <active>1</active>
                <model>Xendit\M2Invoice\Model\Payment\M2Invoice</model>
                <title>M2Invoice</title>
                <checkout_test_prefix>TEST MODE -</checkout_test_prefix>
                <checkout_test_content>Bank account number below are for testing. Real payment will not be detected</checkout_test_content>
                <test_public_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <public_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <test_private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <test_validation_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <validation_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <card_payment_type>form</card_payment_type>
            </m2invoice>
            <bcava>
                <active>1</active>
                <payment_action>initialize</payment_action><!-- You can use another methor like capture  -->
                <model>Xendit\M2Invoice\Model\Payment\BCAVA</model>
                <title>Bank Transfer - BCA</title>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <!-- <order_status>pending_payment</order_status> -->
            </bcava>
            <alfamart>
                <active>1</active>
                <payment_action>initialize</payment_action><!-- You can use another methor like capture  -->
                <model>Xendit\M2Invoice\Model\Payment\Alfamart</model>
                <title>Alfamart</title>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <!-- <order_status>pending_payment</order_status> -->
            </alfamart>
            <bniva>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\BNIVA</model>
                <title>Bank Transfer - BNI</title>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <!-- <order_status>pending_payment</order_status> -->
            </bniva>
            <mandiriva>
                <active>1</active>
                <payment_action>initialize</payment_action><!-- You can use another methor like capture  -->
                <model>Xendit\M2Invoice\Model\Payment\MandiriVA</model>
                <title>Bank Transfer - Mandiri</title>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <!-- <order_status>pending_payment</order_status> -->
            </mandiriva>
            <briva>
                <active>1</active>
                <payment_action>initialize</payment_action><!-- You can use another methor like capture  -->
                <model>Xendit\M2Invoice\Model\Payment\BRIVA</model>
                <title>Bank Transfer - BRI</title>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <!-- <order_status>pending_payment</order_status> -->
            </briva>
            <permatava>
                <active>1</active>
                <payment_action>initialize</payment_action><!-- You can use another methor like capture  -->
                <model>Xendit\M2Invoice\Model\Payment\PermataVA</model>
                <title>Bank Transfer - Permata</title>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <!-- <order_status>pending_payment</order_status> -->
            </permatava>
            <ovo>
                <active>1</active>
                <payment_action>authorize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\OVO</model>
                <title>OVO</title>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
            </ovo>
            <cc>
                <active>1</active>
                <payment_action>authorize</payment_action><!-- You can use another methor like capture  -->
                <model>Xendit\M2Invoice\Model\Payment\CC</model>
                <title>Credit and Debit Cards</title>
                <order_status>pending_payment</order_status><!-- set default order -->
                <cctypes>VI,MC</cctypes>
            </cc>
            <cchosted>
                <active>1</active>
                <payment_action>authorize</payment_action><!-- You can use another methor like capture  -->
                <model>Xendit\M2Invoice\Model\Payment\CCHosted</model>
                <title>Credit and Debit Cards</title>
                <order_status>pending_payment</order_status><!-- set default order -->
                <cctypes>VI,MC</cctypes>
            </cchosted>
        </payment>
    </default>
</config>