<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <xendit>
                <xendit_env>test</xendit_env>
                <xendit_url>https://tpi.xendit.co</xendit_url>
                <ui_url>https://tpi-ui.xendit.co</ui_url>
                <active>1</active>
                <model>Xendit\M2Invoice\Model\Payment\Xendit</model>
                <title>Xendit</title>
                <checkout_test_prefix>TEST MODE -</checkout_test_prefix>
                <checkout_test_content>Real payment will not be detected</checkout_test_content>
                <test_public_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <public_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <test_private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <test_validation_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <validation_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <allowed_method>all</allowed_method>
                <external_id_prefix>magento-xendit</external_id_prefix>
            </xendit>
            <alfamart>
                <active>1</active>
                <payment_action>initialize</payment_action><!-- You can use another method like capture  -->
                <model>Xendit\M2Invoice\Model\Payment\Alfamart</model>
                <title>Alfamart</title>
                <description>Bayar pesanan dengan membayar di Alfamart melalui Xendit</description>
                <min_order_total>10000</min_order_total>
                <max_order_total>2500000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>1</sort_order>
                <currency>IDR</currency>
            </alfamart>
            <bcava>
                <active>1</active>
                <payment_action>initialize</payment_action><!-- You can use another method like capture  -->
                <model>Xendit\M2Invoice\Model\Payment\BCAVA</model>
                <title>Bank Transfer - BCA</title>
                <description>Bayar pesanan dengan transfer bank BCA dengan virtual account melalui Xendit</description>
                <min_order_total>10000</min_order_total>
                <max_order_total>9999999999999</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>2</sort_order>
                <currency>IDR</currency>
            </bcava>
            <bjbva>
                <active>1</active>
                <payment_action>initialize</payment_action><!-- You can use another method like capture -->
                <model>Xendit\M2Invoice\Model\Payment\BJBVA</model>
                <title>Bank Transfer - BJB</title>
                <description>Bayar pesanan dengan transfer bank BJB dengan virtual account melalui Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>50000000000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>3</sort_order>
                <currency>IDR</currency>
            </bjbva>
            <bniva>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\BNIVA</model>
                <title>Bank Transfer - BNI</title>
                <description>Bayar pesanan dengan transfer bank BNI dengan virtual account melalui Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>50000000000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>4</sort_order>
                <currency>IDR</currency>
            </bniva>
            <briva>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\BRIVA</model>
                <title>Bank Transfer - BRI</title>
                <description>Bayar pesanan dengan transfer bank BRI dengan virtual account melalui Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>50000000000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>5</sort_order>
                <currency>IDR</currency>
            </briva>
            <bsiva>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\BSIVA</model>
                <title>Bank Transfer - BSI</title>
                <description>Bayar pesanan dengan transfer bank BSI dengan virtual account melalui Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>50000000000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>6</sort_order>
                <currency>IDR</currency>
            </bsiva>
            <mandiriva>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\MandiriVA</model>
                <title>Bank Transfer - Mandiri</title>
                <description>Bayar pesanan dengan transfer bank Mandiri dengan virtual account melalui Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>50000000000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>7</sort_order>
                <currency>IDR</currency>
            </mandiriva>
            <permatava>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\PermataVA</model>
                <title>Bank Transfer - Permata</title>
                <description>Bayar pesanan dengan transfer bank Permata dengan virtual account melalui Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>9999999999</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>8</sort_order>
                <currency>IDR</currency>
            </permatava>
            <cc>
                <active>1</active>
                <payment_action>authorize</payment_action><!-- You can use another method like capture  -->
                <model>Xendit\M2Invoice\Model\Payment\CC</model>
                <title>Credit and Debit Cards</title>
                <description>Bayar pesanan dengan kartu kredit atau debit anda melalui Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>50000000000</max_order_total>
                <order_status>pending_payment</order_status><!-- set default order -->
                <cctypes>VI,MC,AE,JCB</cctypes>
                <sort_order>9</sort_order>
            </cc>
            <cc_subscription>
                <active>0</active>
                <payment_action>authorize</payment_action><!-- You can use another method like capture  -->
                <model>Xendit\M2Invoice\Model\Payment\CCSubscription</model>
                <title>Credit Card Subscription</title>
                <description>Bayar pesanan dan berlangganan menggunakan kartu kredit anda melalui Xendit</description>
                <min_order_total>5000</min_order_total>
                <max_order_total>200000000</max_order_total>
                <interval>MONTH</interval>
                <interval_count>1</interval_count>
                <order_status>pending_payment</order_status><!-- set default order -->
                <cctypes>VI,MC,AE,JCB</cctypes>
                <sort_order>10</sort_order>
            </cc_subscription>
            <dana>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\DANA</model>
                <title>DANA</title>
                <description>Bayar pesanan dengan akun DANA anda melalui Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>10000000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>11</sort_order>
                <currency>IDR</currency>
            </dana>
            <dd_bri>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\DDBRI</model>
                <title>Direct Debit (BRI)</title>
                <description>Bayar pesanan dengan Direct Debit (BRI) melalui Xendit</description>
                <min_order_total>10000</min_order_total>
                <max_order_total>1000000000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>12</sort_order>
                <currency>IDR</currency>
            </dd_bri>
            <indomaret>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\Indomaret</model>
                <title>Indomaret</title>
                <description>Bayar pesanan dengan membayar di Indomaret, Indogrosir, Superindo, atau i.saku melalui Xendit</description>
                <min_order_total>10000</min_order_total>
                <max_order_total>5000000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>13</sort_order>
                <currency>IDR</currency>
            </indomaret>
            <kredivo>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\KREDIVO</model>
                <title>Kredivo</title>
                <description>Bayar pesanan dengan akun Kredivo anda melalui Xendit</description>
                <min_order_total>10000</min_order_total>
                <max_order_total>30000000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>14</sort_order>
                <currency>IDR</currency>
            </kredivo>
            <linkaja>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\LINKAJA</model>
                <title>LinkAja</title>
                <description>Bayar pesanan dengan akun LinkAja anda melalui Xendit</description>
                <min_order_total>100</min_order_total>
                <max_order_total>10000000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>15</sort_order>
                <currency>IDR</currency>
            </linkaja>
            <ovo>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\OVO</model>
                <title>OVO</title>
                <description>Bayar pesanan dengan akun OVO anda melalui Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>10000000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>16</sort_order>
                <currency>IDR</currency>
            </ovo>
            <qris>
                <active>1</active>
                <payment_action>authorize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\QRIS</model>
                <title>QRIS</title>
                <description>Bayar pesanan dengan QRIS melalui Xendit</description>
                <min_order_total>1500</min_order_total>
                <max_order_total>5000000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>17</sort_order>
                <currency>IDR</currency>
            </qris>
            <shopeepay>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\SHOPEEPAY</model>
                <title>ShopeePay</title>
                <description>Bayar pesanan dengan akun ShopeePay anda melalui Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>10000000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>18</sort_order>
                <currency>IDR</currency>
            </shopeepay>

            <!-- PH Channels -->
            <seven_eleven>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\SevenEleven</model>
                <title>7-Eleven</title>
                <description>Pay for orders using 7-Eleven via Xendit</description>
                <min_order_total>50</min_order_total>
                <max_order_total>10000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>19</sort_order>
                <currency>PHP</currency>
            </seven_eleven>
            <billease>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\Billease</model>
                <title>BillEase</title>
                <description>Pay for orders using BillEase via Xendit</description>
                <min_order_total>50</min_order_total>
                <max_order_total>150000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>20</sort_order>
                <currency>PHP</currency>
            </billease>
            <cebuana>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\Cebuana</model>
                <title>Cebuana</title>
                <description>Pay for orders using Cebuana via Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>30000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>21</sort_order>
                <currency>PHP</currency>
            </cebuana>
            <dd_bpi>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\DDBPI</model>
                <title>Direct Debit (BPI)</title>
                <description>Pay for orders using Direct Debit (BPI) via Xendit</description>
                <min_order_total>0.01</min_order_total>
                <max_order_total>50000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>22</sort_order>
                <currency>PHP</currency>
            </dd_bpi>
            <dd_ubp>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\DDUBP</model>
                <title>Direct Debit (UBP)</title>
                <description>Pay for orders using Direct Debit (UBP) via Xendit</description>
                <min_order_total>0.01</min_order_total>
                <max_order_total>9999999999</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>23</sort_order>
                <currency>PHP</currency>
            </dd_ubp>
            <dp_ecpay_loan>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\DPECPayLoan</model>
                <title>ECPay Loans</title>
                <description>Pay for orders using ECPay Loans via Xendit</description>
                <min_order_total>15</min_order_total>
                <max_order_total>20000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>24</sort_order>
                <currency>PHP</currency>
            </dp_ecpay_loan>
            <gcash>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\Gcash</model>
                <title>GCash</title>
                <description>Pay for orders using GCash via Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>100000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>25</sort_order>
                <currency>PHP</currency>
            </gcash>
            <grabpay>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\Grabpay</model>
                <title>GrabPay</title>
                <description>Pay for orders using GrabPay via Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>100000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>26</sort_order>
                <currency>PHP</currency>
            </grabpay>
            <dp_mlhuillier>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\DPMlhuillier</model>
                <title>M Lhuillier</title>
                <description>Pay for orders using M Lhuillier via Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>200000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>27</sort_order>
                <currency>PHP</currency>
            </dp_mlhuillier>
            <dp_palawan>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\DPPalawan</model>
                <title>Palawan Express Pera Padala</title>
                <description>Pay for orders using Palawan Express Pera Padala via Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>20000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>28</sort_order>
                <currency>PHP</currency>
            </dp_palawan>
            <paymaya>
                <active>1</active>
                <payment_action>initialize</payment_action>
                <model>Xendit\M2Invoice\Model\Payment\Paymaya</model>
                <title>PayMaya</title>
                <description>Pay for orders using PayMaya via Xendit</description>
                <min_order_total>1</min_order_total>
                <max_order_total>100000</max_order_total>
                <is_gateway>1</is_gateway>
                <can_initialize>1</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <sort_order>29</sort_order>
                <currency>PHP</currency>
            </paymaya>
        </payment>
    </default>
</config>
