<fieldset data-bind="attr: {class: 'fieldset payment items linkaja ' + getCode(), id: 'payment_form_' + getCode()}">
    <div class="field number required">
        <div class="control">
            <input type="text"
                    autocomplete="off"
                    name="payment[linkaja_number]"
                    class="input-text"
                    maxlength="16"
                    value=""
                    data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_linkaja_number',
                                    title: $t('Phone Number'),
                                    placeholder: 'Phone Number',
                                    'data-container': getCode() + '-linkaja-number',
                                    'data-validate': JSON.stringify({'required-number':true})},
                              enable: isActive($parents),
                              valueUpdate: 'keyup' "/>
        </div>
    </div>
    <!-- /ko -->
</fieldset>